$primary: #3e8ff8;
$primary2: #ffea48;
$primary3: #ff964f;
$flag-discount: #ffea48;
$danger: #ff6961;
$secondary: #d8dadf;
$success: #1fc76a;

$text-primary: #444;
$text-gray: #595959;
$price-color: #ee4d2d;
$border-table: #ddd;

$bg-gray: #f0f2f5;

$press-color: #cffcff;
$disable-text-color: #888;
$enable-text-color: #3aba84;

$header-height: 60px;
$footer-height: 54px;

$width-card-img: min(180px, calc((100vw / 2) - (4px * 4)));
